.s-balance {
  padding: 40px 0px;
  &__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--neutral-900);
    margin-bottom: 35px;

    svg {
      width: 34px;
      height: 34px;
    }
  }
  &__stories-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__counter-arrow {
    width: 24px !important;
    height: 24px !important;
  }
}