:root {
  --secondary: #aacaff;

  --primary-500: #004da1;
  --primary-400: #006ee4;
  --primary-300: #2990ff;

  --primary-dark: #053c79;

  --dark: #212121;

  --neutral-1000: #121314;
  --neutral-900: #1b2025;
  --neutral-800: #546c84;
  --neutral-600: #437db7;
  --neutral-500: #5995d2;
  --neutral-200: #c2dffc;
  --neutral-100: #b8daff;

  --hint: #aaa;

  --red: #9e242f;
  --red-l: #e03e4c;

  --green: #1a9547;
  --green-l: #40ed7f;
}
