<footer class="tab-bar">
  <div class="tab-bar__wrapper">
    <a href="#" class="tab-bar__btn">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-coins"></use>
      </svg>
      <span>Ставки</span>
    </a>
    <a href="#" class="tab-bar__btn _active">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-clover"></use>
      </svg>
      <span>Розыгрыши</span>
    </a>
    <a href="#" class="tab-bar__btn">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-zap"></use>
      </svg>
      <span>Задания</span>
    </a>
    <a href="#" class="tab-bar__btn">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-friends"></use>
      </svg>
      <span>Друзья</span>
    </a>
  </div>
</footer>
