<section class="s-balance">
  <div class="container">
    <h1 class="h-5 fw-bold mb-4">Игровой баланс</h1>
    <div class="s-balance__counter">
      <div class="hl-text text-neutral-200 fw-semibold">Доступно</div>
      <div class="d-flex align-items-center text-primary-300 fw-semibold">
        <div class="title-1 fw-semibold">4000</div>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-dollar"></use>
        </svg>
      </div>
    </div>
    <div class="s-balance__stories">
      <h2 class="text fw-semibold mb-3">История</h2>
      <div class="s-balance__stories-body">
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-green-l fw-semibold">+$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-red-l fw-semibold">-$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-green-l fw-semibold">+$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-red-l fw-semibold">-$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-green-l fw-semibold">+$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-red-l fw-semibold">-$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-green-l fw-semibold">+$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-red-l fw-semibold">-$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-green-l fw-semibold">+$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-story">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="card-story__title h-7 fw-medium text-neutral-200">
              Спонсор
            </div>
            <div class="hl-text text-red-l fw-semibold">-$1000</div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-story__id text-b-3 text-neutral-800">
              TRANZ892345
            </div>
            <div
              class="d-flex align-items-center gap-1 text-neutral-800 card-story__date"
            >
              <div class="text-b">12 Ноя</div>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
