<section class="s-bets">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between gap-2 mb-4">
      <h1 class="h-5 fw-bold">Ставки</h1>
      <div
        class="s-bets__filters-btn"
        data-bs-toggle="modal"
        data-bs-target="#filters-modal"
      >
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-burger"></use>
        </svg>
      </div>
    </div>
    <div class="d-flex flex-column gap-3">
      <div
        data-bs-toggle="modal"
        data-bs-target="#bet-modal-even"
        class="card-bet"
      >
        <div
          class="d-flex align-items-center justify-content-between gap-2 mb-3"
        >
          <div class="card-bet__id caption text-neutral-800">№892345</div>
          <div class="hl-text fw-semibold text-neutral-200">$230</div>
          <div class="timer">
            <span>21h:49m</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
          </div>
        </div>
        <div class="card-bet__counters">
          <div class="card-bet__counter">
            <div class="text fw-semibold text-green-l">60%</div>
            <div class="caption text-green-l">НЕЧЕТ</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">12 456</div>
            <div class="caption text-hint">ВСЕГО</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">40%</div>
            <div class="caption text-hint">нечет</div>
          </div>
        </div>
      </div>
      <div
        class="card-bet _green"
        data-bs-toggle="modal"
        data-bs-target="#bet-modal-win"
      >
        <div
          class="d-flex align-items-center justify-content-between gap-2 mb-3"
        >
          <div class="card-bet__id caption text-neutral-800">№892345</div>
          <div class="hl-text fw-semibold text-neutral-200 text-green-l">
            $230
          </div>
          <div class="timer">
            <span>21h:49m</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
          </div>
        </div>
        <div class="card-bet__counters">
          <div class="card-bet__counter">
            <div class="text fw-semibold">60%</div>
            <div class="caption">НЕЧЕТ</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">12 456</div>
            <div class="caption text-hint">ВСЕГО</div>
          </div>
          <div class="card-bet__counter _active-green">
            <div class="text fw-semibold text-dark">40%</div>
            <div class="caption text-dark">нечет</div>
          </div>
        </div>
      </div>
      <div
        class="card-bet _red"
        data-bs-toggle="modal"
        data-bs-target="#bet-modal-loss"
      >
        <div
          class="d-flex align-items-center justify-content-between gap-2 mb-3"
        >
          <div class="card-bet__id caption text-neutral-800">№892345</div>
          <div class="hl-text fw-semibold text-neutral-200 text-red-l">
            $230
          </div>
          <div class="timer">
            <span>21h:49m</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
          </div>
        </div>
        <div class="card-bet__counters">
          <div class="card-bet__counter">
            <div class="text fw-semibold">60%</div>
            <div class="caption">НЕЧЕТ</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">12 456</div>
            <div class="caption text-hint">ВСЕГО</div>
          </div>
          <div class="card-bet__counter _active-red">
            <div class="text fw-semibold text-dark">40%</div>
            <div class="caption text-dark">нечет</div>
          </div>
        </div>
      </div>
      <div class="card-bet" data-bs-toggle="modal" data-bs-target="#bet-modal">
        <div
          class="d-flex align-items-center justify-content-between gap-2 mb-3"
        >
          <div class="card-bet__id caption text-neutral-800">№892345</div>
          <div class="hl-text fw-semibold text-neutral-200">ZERO</div>
          <div class="timer">
            <span>21h:49m</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
          </div>
        </div>
        <div class="card-bet__counters">
          <div class="card-bet__counter">
            <div class="text fw-semibold text-green-l">60%</div>
            <div class="caption text-green-l">НЕЧЕТ</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">12 456</div>
            <div class="caption text-hint">ВСЕГО</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">40%</div>
            <div class="caption text-hint">нечет</div>
          </div>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#bet-modal-even"
        class="card-bet"
      >
        <div
          class="d-flex align-items-center justify-content-between gap-2 mb-3"
        >
          <div class="card-bet__id caption text-neutral-800">№892345</div>
          <div class="hl-text fw-semibold text-neutral-200">$230</div>
          <div class="timer">
            <span>21h:49m</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
          </div>
        </div>
        <div class="card-bet__counters">
          <div class="card-bet__counter">
            <div class="text fw-semibold text-green-l">60%</div>
            <div class="caption text-green-l">НЕЧЕТ</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">12 456</div>
            <div class="caption text-hint">ВСЕГО</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">40%</div>
            <div class="caption text-hint">нечет</div>
          </div>
        </div>
      </div>
      <div
        class="card-bet _green"
        data-bs-toggle="modal"
        data-bs-target="#bet-modal-win"
      >
        <div
          class="d-flex align-items-center justify-content-between gap-2 mb-3"
        >
          <div class="card-bet__id caption text-neutral-800">№892345</div>
          <div class="hl-text fw-semibold text-neutral-200 text-green-l">
            $230
          </div>
          <div class="timer">
            <span>21h:49m</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
          </div>
        </div>
        <div class="card-bet__counters">
          <div class="card-bet__counter">
            <div class="text fw-semibold">60%</div>
            <div class="caption">НЕЧЕТ</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">12 456</div>
            <div class="caption text-hint">ВСЕГО</div>
          </div>
          <div class="card-bet__counter _active-green">
            <div class="text fw-semibold text-dark">40%</div>
            <div class="caption text-dark">нечет</div>
          </div>
        </div>
      </div>
      <div
        class="card-bet _red"
        data-bs-toggle="modal"
        data-bs-target="#bet-modal-loss"
      >
        <div
          class="d-flex align-items-center justify-content-between gap-2 mb-3"
        >
          <div class="card-bet__id caption text-neutral-800">№892345</div>
          <div class="hl-text fw-semibold text-neutral-200 text-red-l">
            $230
          </div>
          <div class="timer">
            <span>21h:49m</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
          </div>
        </div>
        <div class="card-bet__counters">
          <div class="card-bet__counter">
            <div class="text fw-semibold">60%</div>
            <div class="caption">НЕЧЕТ</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">12 456</div>
            <div class="caption text-hint">ВСЕГО</div>
          </div>
          <div class="card-bet__counter _active-red">
            <div class="text fw-semibold text-dark">40%</div>
            <div class="caption text-dark">нечет</div>
          </div>
        </div>
      </div>
      <div class="card-bet" data-bs-toggle="modal" data-bs-target="#bet-modal">
        <div
          class="d-flex align-items-center justify-content-between gap-2 mb-3"
        >
          <div class="card-bet__id caption text-neutral-800">№892345</div>
          <div class="hl-text fw-semibold text-neutral-200">ZERO</div>
          <div class="timer">
            <span>21h:49m</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
          </div>
        </div>
        <div class="card-bet__counters">
          <div class="card-bet__counter">
            <div class="text fw-semibold text-green-l">60%</div>
            <div class="caption text-green-l">НЕЧЕТ</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">12 456</div>
            <div class="caption text-hint">ВСЕГО</div>
          </div>
          <div class="card-bet__counter">
            <div class="text fw-semibold">40%</div>
            <div class="caption text-hint">нечет</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
