<section class="s-balance">
  <div class="container">
    <h1 class="h-5 fw-bold mb-4">Бонусный баланс</h1>
    <div class="s-balance__counter">
      <div class="hl-text text-neutral-200 fw-semibold">Доступно</div>
      <div class="d-flex align-items-center text-primary-300 fw-semibold">
        <div class="title-1 fw-semibold">4000</div>
        <svg class="s-balance__counter-arrow">
          <use xlink:href="img/icons/icons.svg#icon-star-fill"></use>
        </svg>
      </div>
    </div>
    <div class="s-balance__faq d-flex flex-column gap-4">
      <div>
        <div class="caption text-neutral-800 mb-2 text-uppercase">
          Как заработать?
        </div>
        <div class="d-flex flex-column gap-2">
          <a href="#" class="btn-outline w-100">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-question"></use>
            </svg>
            <span>Приглашайте друзей</span>
          </a>
          <a href="#" class="btn-outline w-100">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-question"></use>
            </svg>
            <span>Делайте ставки</span>
          </a>
        </div>
      </div>
      <div>
        <div class="caption text-neutral-800 mb-2 text-uppercase">
          Как потратить?
        </div>
        <div class="d-flex flex-column gap-2">
          <a href="#" class="btn-outline w-100">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-question"></use>
            </svg>
            <span>Дополнительные приглашения</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
