<section class="s-notifications">
  <div class="container">
    <h1 class="mb-4 title-1 fw-semibold">Уведомления</h1>
    <div class="d-flex flex-column gap-3">
      <div class="card-notification">
        <div class="card-notification__time text-neutral-500">
          <div class="sub-hl-text fw-semibold">12 Ноя</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <div class="card-notification__time-circle"></div>
        </div>
        <div class="text-b-2 text-neutral-300 my-2">
          <p>
            Lorem ipsum dolor sit amet consectetur. Platea id tortor non aliquet
            sit accumsan diam neque.
          </p>
        </div>
        <a href="#" class="btn-o card-notification__btn">Перейти</a>
      </div>
      <div class="card-notification">
        <div class="card-notification__time text-neutral-500">
          <div class="sub-hl-text fw-semibold">12 Ноя</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
        </div>
        <div class="text-b-2 text-neutral-300 my-2">
          <p>
            Lorem ipsum dolor sit amet consectetur. Platea id tortor non aliquet
            sit accumsan diam neque.
          </p>
        </div>
        <a href="#" class="btn-o card-notification__btn">Перейти</a>
      </div>
      <div class="card-notification">
        <div class="card-notification__time text-neutral-500">
          <div class="sub-hl-text fw-semibold">12 Ноя</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
        </div>
        <div class="text-b-2 text-neutral-300 my-2">
          <p>
            Lorem ipsum dolor sit amet consectetur. Platea id tortor non aliquet
            sit accumsan diam neque.
          </p>
        </div>
        <a href="#" class="btn-o card-notification__btn">Перейти</a>
      </div>
      <div class="card-notification">
        <div class="card-notification__time text-neutral-500">
          <div class="sub-hl-text fw-semibold">12 Ноя</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
        </div>
        <div class="text-b-2 text-neutral-300 my-2">
          <p>
            Lorem ipsum dolor sit amet consectetur. Platea id tortor non aliquet
            sit accumsan diam neque.
          </p>
        </div>
        <a href="#" class="btn-o card-notification__btn">Перейти</a>
      </div>
      <div class="card-notification">
        <div class="card-notification__time text-neutral-500">
          <div class="sub-hl-text fw-semibold">12 Ноя</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
        </div>
        <div class="text-b-2 text-neutral-300 my-2">
          <p>
            Lorem ipsum dolor sit amet consectetur. Platea id tortor non aliquet
            sit accumsan diam neque.
          </p>
        </div>
        <a href="#" class="btn-o card-notification__btn">Перейти</a>
      </div>
      <div class="card-notification">
        <div class="card-notification__time text-neutral-500">
          <div class="sub-hl-text fw-semibold">12 Ноя</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
        </div>
        <div class="text-b-2 text-neutral-300 my-2">
          <p>
            Lorem ipsum dolor sit amet consectetur. Platea id tortor non aliquet
            sit accumsan diam neque.
          </p>
        </div>
        <a href="#" class="btn-o card-notification__btn">Перейти</a>
      </div>
      <div class="card-notification">
        <div class="card-notification__time text-neutral-500">
          <div class="sub-hl-text fw-semibold">12 Ноя</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
        </div>
        <div class="text-b-2 text-neutral-300 my-2">
          <p>
            Lorem ipsum dolor sit amet consectetur. Platea id tortor non aliquet
            sit accumsan diam neque.
          </p>
        </div>
        <a href="#" class="btn-o card-notification__btn">Перейти</a>
      </div>
      <div class="card-notification">
        <div class="card-notification__time text-neutral-500">
          <div class="sub-hl-text fw-semibold">12 Ноя</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
        </div>
        <div class="text-b-2 text-neutral-300 my-2">
          <p>
            Lorem ipsum dolor sit amet consectetur. Platea id tortor non aliquet
            sit accumsan diam neque.
          </p>
        </div>
        <a href="#" class="btn-o card-notification__btn">Перейти</a>
      </div>
      <div class="card-notification">
        <div class="card-notification__time text-neutral-500">
          <div class="sub-hl-text fw-semibold">12 Ноя</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
        </div>
        <div class="text-b-2 text-neutral-300 my-2">
          <p>
            Lorem ipsum dolor sit amet consectetur. Platea id tortor non aliquet
            sit accumsan diam neque.
          </p>
        </div>
        <a href="#" class="btn-o card-notification__btn">Перейти</a>
      </div>
    </div>
  </div>
</section>
