<section class="s-profile">
  <div class="container">
    <div class="d-flex align-items-center gap-3">
      <img src="@img/avatar.jpg" alt="image" class="s-profile__avatar" />
      <div>
        <h5 class="h-5 mb-2 fw-bold">@nickname</h5>
        <div class="h-7 text-neutral-800 fw-medium">#12345678</div>
      </div>
    </div>
    <div class="s-profile__nav">
      <a href="#" class="s-profile__nav-btn _active">Все время</a>
      <a href="#" class="s-profile__nav-btn">День</a>
      <a href="#" class="s-profile__nav-btn">Месяц</a>
      <a href="#" class="s-profile__nav-btn">Год</a>
    </div>
    <div class="s-profile__grid">
      <div class="s-profile__item">
        <div class="s-profile__cell">
          <div class="text-b mb-1 text-neutral-800">Количество ставок всего</div>
          <div class="title-2 fw-semibold">212</div>
        </div>
      </div>
      <div class="s-profile__item">
        <div class="s-profile__cell _min _active-green">
          <div class="sub-hl-text mb-1 text-neutral-200">Выиграно</div>
          <div class="title-2 fw-semibold text-green-l">96</div>
        </div>
        <div class="s-profile__cell _min _active-red">
          <div class="sub-hl-text mb-1 text-neutral-200">Проиграно</div>
          <div class="title-2 fw-semibold text-red-l">116</div>
        </div>
      </div>
      <div class="s-profile__item">
        <div class="s-profile__cell">
          <div class="sub-hl-text mb-1 text-neutral-800">Сумма всех ставок</div>
          <div class="title-2 fw-semibold">$212</div>
        </div>
        <div class="s-profile__cell">
          <div class="sub-hl-text mb-1 text-neutral-800">Всего выиграно</div>
          <div class="title-2 fw-semibold text-green-l">$212</div>
        </div>
      </div>
      <div class="s-profile__item">
        <div class="s-profile__cell">
          <div class="sub-hl-text mb-1 text-neutral-800">Получено бонусов</div>
          <div class="d-flex gap-1 justify-content-center text-primary-300">
            <div class="title-2 fw-semibold">258</div>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
          </div>
        </div>
        <div class="s-profile__cell">
          <div class="sub-hl-text mb-1 text-neutral-800">Потрачено бонусов</div>
          <div class="d-flex gap-1 justify-content-center text-primary-300">
            <div class="title-2 fw-semibold">258</div>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="s-profile__bottom">
      <div class="s-profile__bottom-btn">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-instruction'></use>
        </svg>
        <span>Инструкция</span>
      </div>
      <div class="s-profile__bottom-btn">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-question'></use>
        </svg>
        <span>Поддержка</span>
      </div>
    </div>
  </div>
</section>
