.input-check {
  display: none;

  &:checked + label {
    &::before {
      background: url('@img/check.svg') center / 12px auto no-repeat;
      background-color: var(--primary-300);
      border-color: var(--primary-300);
    }
  }
}
.label-check {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.07em;

  &::before {
    flex-shrink: 0;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 2px solid var(--neutral-900);
  }
}
