.hl-text {
  font-size: 19px;
  line-height: 126%;
  letter-spacing: -0.02em;
}
.sub-hl-text {
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.02em;
}
.caption {
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.fw-600 {
  font-weight: 600 !important;
}

.text-primary-300 {
  color: var(--primary-300);
}

.text-neutral-800 {
  color: var(--neutral-800);
}
.text-neutral-500 {
  color: var(--neutral-500);
}
.text-neutral-200 {
  color: var(--neutral-200);
}

.text-red-l {
  color: var(--red-l);
}